@font-face {
    font-family: 'Stellar';
    src:
        local('Stellar'),
        local('Stellar'),
        url('Stellar-Regular.otf');
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Stellar';
}

body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: 'Stellar';
    background: linear-gradient(to bottom, #ff6f1f 0%, #d6430d 100%);
}

#blocker {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image:url('images/splash.png');
    background-size: cover;
}

#instructions {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

#hud2{
    position: absolute;
    left: 50%;
}

#hud, #hud2{
    position: absolute;
    width: 100%;
    height:100%;
    color: #fff;
    z-index: 9000;
    color: #33feff;
}

#hud-basic{
    font-size: 1.5vw;
    width: 15vw;
    padding: 1.5%;
    border-bottom: 1px solid #33feff;
    text-align: center;
}

#hud-basic #o2 img{
    width: 15vw;
    height: 15vw;
}

#hud-info{
    font-size: 1.5vw;
    width: 15vw;
    padding: 2%;
    position: absolute;
    right: 50%;
    top: 0;
}

#hud-info img{
    width: 15vw;
    height: 4.5vw;
}

#dust-storm{
    background: #ffb966;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}

#o2 #temperature{
    position: absolute;
    top: 7vw;
    left: 6vw;
    font-size: 3em;
}

#clock{
    font-size: 1.6em;
}

#hud-partner{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7.5vw;
    height: 7.5vw;
    padding: 1%;
    opacity: 0;
}

#hud-partner img{
    width: 7.5vw;
    height: 7.5vw;
}